@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222831;
  --foreground: #ededed;
}

/* Uncomment for Dark Mode Support */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Autofill Styles for WebKit Browsers (Chrome, Safari) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #191f25 inset !important;
  box-shadow: 0 0 0px 1000px #191f25 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Autofill Styles for Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  box-shadow: 0 0 0px 1000px #191f25 inset !important;
  -moz-text-fill-color: white !important;
  caret-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Autofill Styles for Edge */
input:-ms-autofill,
input:-ms-autofill:hover,
input:-ms-autofill:focus,
input:-ms-autofill:active {
  box-shadow: 0 0 0px 1000px #191f25 inset !important;
  -ms-text-fill-color: white !important;
  caret-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
